# VitePress build output
docs/.vitepress/cache/

# actually we version control this
# docs/.vitepress/dist/

# Dependencies
node_modules/

# Lock files — regenerate locally
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS / editor
.DS_Store
*.swp
.vscode/settings.json
*~
